.main-chat
  .main-chat__group-info
    .group-status
      %p.group-status__group-name
        techcamp
      %p.group-status__member
        Member： masa
    = link_to "#", class: 'edit-button' do
      %p.link-chr
        Edit
  .main-chat__message-view
    .a-message
      .a-message__head
        %p.user-name
          masa
        %p.sended-date
          2020/04/27(Sun) 17:43:01
      %p.a-message__content
        こんばんは
    .a-message
      .a-message__head
        %p.user-name
          masa
        %p.sended-date
          2020/04/27(Sun) 17:43:01
      %p.a-message__content
        こんばんは
  .main-chat__message-form
    %form
      .form-wrapper
        %input.form-wrapper__text-area{type: 'text', placeholder: 'type a text'}
        %label.form-wrapper__file-choose
          = icon('fas', 'image')
          %input.invisible{type: 'file'}
      %input.submit-button{type: 'submit', value: 'Send'}
