@mixin Flexbox($align: normal, $justify: normal, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

*{
  box-sizing: border-box;
}
/* 共通 */
.invisible{
  display: none;
}

a {
  text-decoration: none;
}
/* index */
.wrapper{
  display: flex;
}

/* _side_bar */
.side-bar{
  width: 300px;

  &__user-name{
    @include Flexbox($align: center);
    height: 100px;
    padding: 0 20px;
    background-color: #253141;

    .top-items{
      width: 100%;
      margin: 0 auto;
      @include Flexbox($justify: space-between);

      &__name{
        line-height: 100%;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }

      &__icon{
        @include Flexbox($align: center);
        text-align: right;

        .icon-link{
          @include Flexbox($align: center);
          margin-left: 5px;
        }

        .left-icon{
          margin-left: 0;
        }

        .fa-edit, .fa-cog{
          color: white;
        }
      }
    }
  }

  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    .a-group{
      @include Flexbox($align: center);
      width:100%;
      padding: 20px;
      padding-bottom: 40px;

      & p{
        font-weight: bold;
        color: white;
      }

      &__group-name{
        margin-bottom: 5px;
        font-size: 15px;
      }

      &__group-status{
        font-size: 11px;
      }
    }
  }
}

/* _main_chat */
.main-chat{
  width: calc(100vw - 300px);

  &__group-info{
    @include Flexbox($justify: space-between);
    height: 100px;
    padding:0 40px;
    border-bottom: 1px solid #eee;
    background-color: white;

    .group-status{

      &__group-name{
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 20px;
        color:#333;
      }

      &__member{
        font-size: 12px;
        color:#999;
      }
    }

    .link-chr{
      width: 72px;
      padding:0 20px;
      border: 1px solid #38aef0;
      margin-top: 28px;
      font-size: 16px;
      color: #38aef0;
      line-height: 40px;
    }
  }

  &__message-view{
    height: calc(100vh - 190px);
    padding-top: 35px;
    padding-left: 40px;
    background-color: #fafafa;
    overflow: scroll;

    .a-message{
      margin-bottom: 46px;

      &__head{
        @include Flexbox();
        margin-bottom: 12px;

        .user-name{
          color: #333;
          font-size: 16px;
          margin-right: 10px;
        }

        .sended-date{
          color: #999;
          font-size: 12px;
        }
      }

      &__content{
        font-size: 14px;
        color:#434a54;
      }
    }
  }

  &__message-form{
    height: 90px;
    width: calc(100vw - 300px);
    padding: 10px 40px 0 20px;
    background-color: #d2d2d2;
    @include Flexbox($align: center);

    .form{
      @include Flexbox();
    }

    .form-wrapper{
      position: relative;
      height: 50px;
      width: calc(100vw - 455px);

      &__text-area{
        position: absolute;
        height: 50px;
        width: 100%;
        padding-left: 10px;
        border-style: none;
      }

      &__file-choose{
        position: absolute;
        top: 10px;
        right: 10px;

        .fas{
          font-size: 30px;
        }
      }
    }

    .send-button{
      position: absolute;
      right: -115px;
      height: 50px;
      width: 100px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
    }
  }
}
